
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>志愿四川</title>
<script type="text/javascript" src="https://css.zhiyuanyun.com/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="https://css.zhiyuanyun.com/lib/common.js"></script>
<script type="text/javascript" src="https://css.zhiyuanyun.com/lib/jquery.scroll.js"></script>
<script type="text/javascript" src="https://css.zhiyuanyun.com/lib/nbspslider/jquery.nbspslider.1.1.js"></script>
<link href="https://css.zhiyuanyun.com/lib/nbspslider/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function(){
        $("#news_photo").nbspSlider({widths:'500px',heights:'300px',numBtnSty:"roundness",altAlign:"left",numBtnShow:1,speeds:500,delays:4000,preNexBtnShow:0,altShow:1,altBgColor:"#000",altHeight:"45px"});
        C.tabs({"params":[
            {"nav":"#btn1","con":"#tab1","sclass":"current","nclass":""},
            {"nav":"#btn2","con":"#tab2","sclass":"current","nclass":""},
            {"nav":"#btn3","con":"#tab3","sclass":"current","nclass":""}
            ]
        });
    });
</script>

<!--[if lte IE 6]>
<script language="javascript" type="text/javascript" src="https://css.zhiyuanyun.com/lib/png.js" ></script>
<script type="text/javascript">
    DD_belatedPNG.fix('div, ul, li, input , a, a:hover, h2, b');
</script>
<![endif]-->
<script type="text/javascript" src="https://css.zhiyuanyun.com/common/front.js?t=1584082850"></script>
<link href="https://css.zhiyuanyun.com/default/style.css" rel="stylesheet" type="text/css">
<link href="https://css.zhiyuanyun.com/default/style.css" rel="stylesheet" type="text/css">
<meta name="renderer" content="webkit|ie-stand">
</head>
<body>
<div class="header">
    <div class="wrap clearfix topmenu">
        <meta name="csrf-token" content="0c5174cf0ddf9696f37aa33eb21a53f81b580405ac819bed59d718b7ad0d0b8f">
<script>
    $(document).ready(function(){

        $.ajaxSetup({
            headers:
            { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });
    });
</script>
<script type="text/javascript" src="/app/api/site.all.js"></script>
<span class="l" style="width:550px;">
            <a href="/app/user/login.php" style="color:red">亲，请登录</a>&nbsp;
        <a href="/app/user/register.php">志愿者注册</a>&nbsp;/&nbsp;<a href="/app/user/register.php?type=org">志愿团体注册</a>&nbsp;&nbsp;
    </span>

<span class="r topmenu_r">
        <div class="topmenu_txt">    
        <a href="/app/opp/opp.edit.php">发起项目</a>
    </div>
        <div class="topmenu_txt">    
        <a href="/app/user/home.php" class="arrow1">志愿中心</a>
        <div class="topmenu_con">
            <ul>
                <li><a href="/app/opp/opp.my.php">我的项目</a></li>
                                <li><a href="/app/user/hour.php">我的时长</a></li>
                <li><a href="/app/org/org.my.php">我的团体</a></li>
                                            </ul>
        </div>
    </div>
        <div class="topmenu_txt">
        <a href="/app/user/message.php">站内信</a>
    </div>
                <script>
    $(function(){
   
        
    
});
</script>        </span>
    </div>
</div>

<div class="header_logo">
    <div class="wrap clearfix">
        <a href="/" class="l logo"><span>四川省</span></a>
        <div class="r clearfix" style="width:550px;">
            <div class="l tsearch clearfix" style="width:350px;">
                <div class="l" style="width:76px;height:44px;line-height:44px;text-align:center;">
                            <div id="tsearch_select">
                                <div id="select">新闻文章</div><input type="hidden" id="stype" value="3">                                <div id="tsearch_select_div">
                                    <a href="javascript:void(0);" onclick="$('#tsearch_select>#select').html($(this).html());$('#stype').val(1);chpos(this);">志愿项目</a>
                                    <a href="javascript:void(0);" onclick="$('#tsearch_select>#select').html($(this).html());$('#stype').val(2);chpos(this);">志愿团体</a>
                                    <a href="javascript:void(0);" onclick="$('#tsearch_select>#select').html($(this).html());$('#stype').val(3);chpos(this);">新闻文章</a>
                                </div>
                            </div>  
                </div>
                <div class="l">
                    &nbsp;&nbsp;&nbsp;<input style="width:140px;" type="text" class="sq" id="sq" value="">
                </div>
                <div class="r">
                    <a href="javascript:void(0);" onclick="top_search();" class="rrsearch"></a>
                </div>
                
            </div>
            
            <div class="r rlogo">
                <a href="/" style="display:block;"></a>
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <div class="wrap">
        <a href="/" style="width:71px;" class="sel">首页</a><a href="/app/opp/list.php" >志愿项目</a><a href="/app/org/list.php" >志愿团体</a><a href="/app/help/list.php" >求助中心</a><a href="//www.chinavolunteer.cn/cate/zyzg_zyfc/" target="_blank">志愿风采</a><a href="//www.chinavolunteer.cn/cate/zyzg_xxdt/" target="_blank">信息动态</a><a href="//www.chinavolunteer.cn/cate/zyzg_mtbd/" target="_blank">媒体报道</a><a href="//www.chinavolunteer.cn/cate/zyzg_yjpx/" target="_blank">研究培训</a><a href="//www.chinavolunteer.cn/cate/zyzg_zcwj/" target="_blank">政策文件</a><a href="//www.chinavolunteer.cn/cate/zyzg_syzn/" target="_blank">使用指南</a>
    </div>
</div>
<div class="wrap clearfix m10">
    <div class="l news_photo">
        <div id="news_photo">
            <ul><li><a href="http://www.chinavolunteer.cn/show/1048278.html" target="_blank"><img src="//s.zhiyuanyun.com/www.chinavolunteer.cn/cms/201901/18/5c41a6d2488b7.jpg" border="0" alt="习近平为志愿者点赞"></a></li><li><a href="https://www.chinavolunteer.cn/show/1057086.html" target="_blank"><img src="https://s.zhiyuanyun.com/www.chinavolunteer.cn/cms/202002/11/5e41ff79263f6.jpg" border="0" alt="习近平在北京市调研指导新型冠状病毒肺炎疫情防控工作"></a></li><li><a href="https://www.chinavolunteer.cn/show/1057329.html" target="_blank"><img src="https://s.zhiyuanyun.com/www.chinavolunteer.cn/cms/202002/13/5e44c3240ecb7.jpg" border="0" alt="社区战疫志愿者在行动"></a></li><li><a href="https://www.chinavolunteer.cn/show/1056627.html" target="_blank"><img src="https://s.zhiyuanyun.com/www.chinavolunteer.cn/cms/202002/13/5e44fe3dadfdc.jpg" border="0" alt="共青团组织发动8.5万名志愿者参与疫情防控工作"></a></li><li><a href="https://www.chinavolunteer.cn/show/1054639.html" target="_blank"><img src="https://s.zhiyuanyun.com/www.chinavolunteer.cn/cms/201910/23/5dafb439c3ddf.jpg" border="0" alt="国庆庆典背后，16万志愿者！让我们记住默默奉献的他们"></a></li><li><a href="https://www.chinavolunteer.cn/show/1054640.html" target="_blank"><img src="https://s.zhiyuanyun.com/www.chinavolunteer.cn/cms/201910/23/5dafeecae4932.jpg" border="0" alt="北大373名国庆系列活动志愿者：以青春奉献之我，献礼最爱的国"></a></li><li><a href="https://www.chinavolunteer.cn/show/1050805.html" target="_blank"><img src="https://s.zhiyuanyun.com/www.chinavolunteer.cn/cms/201910/23/5daff36e225a3.jpg" border="0" alt="“青春之花”志愿者扮靓北京世园会"></a></li></ul>
        </div>
    </div>
    <div class="l clearfix">
        <div class="l tbut tbut1"><div class="tbut_menu"><a href="/app/help/list.php">寻求志愿者帮助</a><a href="/app/user/register.php">注册成为志愿者</a></div></div>
        <div class="l tbut tbut2"><div class="tbut_menu"><a href="/app/user/register.php">实名注册</a><a href="/app/user/train.php">在线培训</a><a href="/app/org/list.php">参加志愿团体</a><a href="/app/opp/list.php">参加志愿项目</a><a href="/app/user/hour.php">记录时间</a><a href="/app/user/cert.php">下载志愿服务证书</a></div></div>
        <div class="l tbut tbut3"><div class="tbut_menu"><a href="/app/user/register.php?type=org">团体注册</a><a href="/app/opp/opp.edit.php">发布志愿项目</a><a href="/app/org/member.php">招募志愿者</a><a href="/app/opp/opp.my.php">评价志愿者</a></div></div>
    </div>
</div>
<div class="top2">
    <div class="wrap top2bg">
        <a href="https://www.chinavolunteer.cn/show/1032871.html" target="_blank"></a>
        <a href="/app/org/list.php?mode=map" target="_blank"></a>
        <a href="/app/user/query.php" target="_blank"></a>
    </div>
</div>
<div class="wrap m10 clearfix index">
    <div class="tbox l">
        <div class="tit clearfix"><span class="l">通知公告</span><span class="r"><a href="//www.chinavolunteer.cn/cate/zyzg_tzgg/" target="_blank">更多>></a> &nbsp;&nbsp;</span></div>
        <div class="tcon">
            <ul>
                <li><a href="//www.chinavolunteer.cn/show/1059234.html" target="_blank">民政部办公厅关于开展“携手同心助战疫关爱保障行动”的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1056500.html" target="_blank">民政部关于动员慈善力量依法有序参与新型冠状病毒感染的肺炎疫情防控工作的公告</a></li><li><a href="//www.chinavolunteer.cn/show/1054714.html" target="_blank">中央宣传部、中央文明办等14部门关于开展2019年全国宣传推选 学雷锋志愿服务“四个100”先进典型活动的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1053299.html" target="_blank">民政部关于学习宣传贯彻习近平总书记志愿服务重要指示精神的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1051726.html" target="_blank">关于国家标准《志愿服务组织基本规范》+（征求意见稿）公开征求意见的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1051641.html" target="_blank">民政部办公厅关于进一步加强脱贫攻坚志愿服务宣传展示工作的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1050513.html" target="_blank">学习贯彻习近平总书记关于志愿服务重要指示精神主题征稿启事</a></li><li><a href="//www.chinavolunteer.cn/show/1050512.html" target="_blank">民政部办公厅关于开展学习贯彻习近平总书记关于志愿服务重要指示精神 主题征文活动的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1048506.html" target="_blank">关于学习贯彻习近平总书记有关志愿服务  重要指示精神的通知</a></li>            </ul>
        </div>
    </div>
    <div class="tbox l boxl">
        <div class="tit clearfix"><span class="l">政策文件</span><span class="r"><a href="//www.chinavolunteer.cn/cate/zyzg_zcwj/" target="_blank">更多>></a> &nbsp;&nbsp;</span></div>
        <div class="tcon">
            <ul>
                <li><a href="//www.chinavolunteer.cn/show/1038643.html" target="_blank">陆士桢：发展中国特色志愿服务，促进社会文明进步</a></li><li><a href="//www.chinavolunteer.cn/show/1038642.html" target="_blank">肖金明：《志愿服务条例》的立法创新与多重效应</a></li><li><a href="//www.chinavolunteer.cn/show/1038641.html" target="_blank">党秀云：为志愿服务保驾护航</a></li><li><a href="//www.chinavolunteer.cn/show/1038640.html" target="_blank">李芳：准确把握《志愿服务条例》的立法重点</a></li><li><a href="//www.chinavolunteer.cn/show/1038639.html" target="_blank">谭建光：强化志愿服务激励 促进诚信社会建设</a></li><li><a href="//www.chinavolunteer.cn/show/1038638.html" target="_blank">赵津芳：以法制化手段规范和促进志愿服务组织发展</a></li><li><a href="//www.chinavolunteer.cn/show/1038613.html" target="_blank">依法规范促进志愿服务发展——《志愿服务条例》解读</a></li><li><a href="//www.chinavolunteer.cn/show/1038612.html" target="_blank">国务院法制办负责人就《志愿服务条例》答记者问 </a></li><li><a href="//www.chinavolunteer.cn/show/1038608.html" target="_blank">《志愿服务条例》</a></li>            </ul>
        </div>
    </div>
    <div class="tbox l boxl">
        <div class="tit clearfix"><span class="l">使用指南</span><span class="r"><a href="//www.chinavolunteer.cn/cate/zyzg_syzn/" target="_blank">更多>></a> &nbsp;&nbsp;</span></div>
        <div class="tcon">
            <ul class="clearfix">
                <li><a href="//www.chinavolunteer.cn/show/1032305.html" target="_blank">全国志愿服务信息系统操作视频在线观看</a></li><li><a href="//www.chinavolunteer.cn/show/1052462.html" target="_blank">关于确保顺利接收系统邮件的操作说明</a></li><li><a href="//www.chinavolunteer.cn/show/1040107.html" target="_blank">全国志愿服务信息系统相关联系方式</a></li><li><a href="//www.chinavolunteer.cn/show/1033803.html" target="_blank">关于征集完善和改进“全国志愿服务信息系统”建议的通知</a></li><li><a href="//www.chinavolunteer.cn/show/1032866.html" target="_blank">全国志愿服务信息系统管理部门用户调整申请表下载</a></li><li><a href="//www.chinavolunteer.cn/show/1032164.html" target="_blank">全国志愿服务信息系统用户使用手册（志愿者使用）</a></li><li><a href="//www.chinavolunteer.cn/show/1032163.html" target="_blank">全国志愿服务信息系统用户使用手册（志愿团体使用）</a></li><li><a href="//www.chinavolunteer.cn/show/1032162.html" target="_blank">全国志愿服务信息系统用户使用手册（民政部门使用）</a></li><li><a href="//www.chinavolunteer.cn/show/1032871.html" target="_blank">全国志愿服务信息系统使用常见问题</a></li>            </ul>
        </div>
    </div>
</div>
<div class="wrap clearfix index">
    </div>
<!--
<div class="wrap m10 clearfix">
    <script type="text/javascript">$(function(){C.tabs({"params":[{"nav":"#linkbtn0","con":"#linktab0","sclass":"current","nclass":""}]});});</script><div class="tab1" style="border-bottom:0;margin:0 0 0 2px;width:996px;"><a href="javascript:void(0);" style="font-size:12px;" $style id="linkbtn0">友情链接</a></div><div class="link_tab"style="border-top:0px;"><div style="margin:0 10px 10px 10px;"><div style="height:10px;"></div><div id="linktab0"></div></div></div></div>
-->
<div class="footer clearfix">
    <div class="footlink">
        <a onclick="C.sethome('sc.chinavolunteer.cn');" href="javascript:void(0);">设为首页</a><span>-</span>
        <a onclick="C.fav('志愿四川','sc.chinavolunteer.cn');" href="javascript:void(0);">加入收藏</a><span>-</span>
        <a href="javascript:void(0);">关于我们</a><span>-</span>
        <a href="javascript:void(0);">联系我们</a>
    </div>
    <div class="wrap m10">
        主办：志愿四川 版权所有 京ICP备08012239 &nbsp;&nbsp;技术支持：<a href="http://www.zhiyuanyun.com" target="_blank">志愿云</a>
    </div>
</div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?96c55a3847063dc0f3d6d32b55654297";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script><!--
<div class="pa contact-us" style="top:200px;">
    <div><img border="0" style="margin-top:0px;" title="" alt="" src="http://css.zhiyuanyun.com/default/images/aqrcode.jpg" width="120"><br>中国社会组织动态</div>
</div>
-->
</body>
</html>