<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/stylen.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/typography.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/rotator.js"></script>
    <script type="text/javascript" src="javascripts/tweet.js"></script>
    
    <title>织光公益</title>
  </head>
  <style>
    .uInfo{
        line-height:50px;
        padding:15px;
    }
    .eachUser{
        margin-top:15px;
        border-bottom:dashed 1px #000;
    }
  </style>
    <body>
        <div id="wrapper">


            <div id="header">
                <div id="header_wrap">
                    <div id="logo">
                    </div>
                    <ul id="navlist">
                        <li id="active"><a href="/" id="current">首页</a></li>
                        <li><a href="/initProject" id='initProject'>发起项目</a></li>
                        <li><a href="/initDonate">发起募捐</a></li>
                        <li><a href="/Donate">募捐详情</a></li>
                    </ul>
                </div>
            </div>
        
        
            
            
            <div class="contents">
                <div id="app">
         
                    您好:
                    <span id="showAdmin"><%= adminName %></span>
                    <ul class='uInfoUl'>
                        <li v-for='user in users' class='eachUser'>
                            <div class='uInfo font1'><span>账号:</span><span class='userAcct'>{{user.acct}}</span></div>
                            <div class='uInfo font1'><span>邮件:</span><span>{{user.mail}}</span></div>
                            <div class='uInfo font1'><span>个人照:</span><img :src="user.photo" class="commonImg" /></div>
                            <div class='uInfo font1'><span>身份证正面照:</span><img :src="user.id_photo1" class="commonImg" /></div>
                            <div class='uInfo font1'><span>身份证反面照:</span><img :src="user.id_photo2" class="commonImg" /></div>
                            <div class='uInfo font1'>实名认证状态:<span class='certStatus'>{{user.certificate_status}}</span></div>
                            <div class='uInfo font1'><button v-on:click="certificateReject($event)" class='certReject'>审核失败</button><button class="certificateUser" v-on:click="certificateUser($event)">审核成功</button></div>
                        </li>
                    </ul>
                </div>
            </div>



        </div>

        <div id="footer">

            <div id="footer_wrap">
            
                <div id="footer_left">
                    <div id="footer_col">
                        <h3></h3>
                        <ul>
                            <li><a href="#">公益时报</a></li>
                            <li><a href="#">环球公益</a></li>
                            <li><a href="#">新华公益</a></li>
                            <li><a href="#">光明公益</a></li>
                            <li><a href="#">中青公益</a></li>
                        </ul>
                    </div>
                    <div id="footer_col_2">
                        <h3> </h3>
                        <ul>
                            <li><a href="#">人民公益</a></li>
                            <li><a href="#">搜狐公益</a></li>
                            <li><a href="#">新浪公益</a></li>
                            <li><a href="#">凤凰公益</a></li>
                            <li><a href="#">网易公益</a></li>
                            <li><a href="#">央视公益</a></li>
                        </ul>
                    </div>
                    <div id="footer_col_3">
                        <h3></h3>
                        <ul>
                            <li><a href="#">上海公益网</a></li>
                            <li><a href="#">北京公益网</a></li>
                            <li><a href="#">深圳公益网</a></li>
                            <li><a href="#">太远公益网</a></li>
                            <li><a href="#">扬州公益网</a></li>
                        </ul>
                    </div>
                </div>
        
                <div id="footer_right">
                    <div id="footer_logo">
                    </div>
                    <div class="clear">
                    </div>
                    <ul>
                        <li></a></li>
                        <li></li>
                        <li><a href="#"></a></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
            
            </div>
        
        </div>


        <script>
            var app = new Vue({
                el:"#app",
                data:{
                    users:null
                },
                methods:{

                    certificateReject:function(e){
                        var confirmCerti = confirm("确认该用户实名认证失败?");
                        if(confirmCerti){
                            var acct = $(e.target).parents("li").find("span.userAcct").text();
                            var data = {
                                acct:acct
                            };

                            $.ajax({
                                type : "POST",
                                url : "/certificateReject",
                                data:data,
                                success : function(result) {
                                    if(result.code === 1){
                                        alert("审核失败操作成功");
                                        window.location.href = window.location.href;
                                    }
                                },
                                error : function(e){

                                }
                            });
                            
                        }
                    },
                    certificateUser:function(e){
                        var confirmCerti = confirm("确认该用户实名认证成功?");
                        if(confirmCerti){
                            var acct = $(e.target).parents("li").find("span.userAcct").text();
                            var data = {
                                acct:acct
                            };
                            $.ajax({
                                type : "POST",
                                url : "/certificate",
                                data:data,
                                success : function(result) {
                                    if(result.code === 1){
                                        alert("实名认证审批成功");
                                        window.location.href = window.location.href;
                                    }
                                },
                                error : function(e){

                                }
                            });

                        }else{
                            return false;
                        }
                       
                    }
                }
            });
        </script>

        <script>
            $(document).ready(function () {
                function pullUsers(){
                    $.ajax({
                        url : "/allUsers",
                        success : function(result) {
                            for(var i = 0; i < result.length; i++){
                                for(var k in result[i]){
                                    if(k === "photo" || k === "id_photo1" ||k === "id_photo2"){
                                        var imageUrl = result[i][k];
                                        if(imageUrl && imageUrl.length > 0){
                                            var index = imageUrl.indexOf("upload");
                                            imageUrl = imageUrl.substring(index - 1);
                                            imageUrl = imageUrl.replace(/\\/g,"/");
                                            result[i][k] = imageUrl;
                                        }else{
                                            result[i][k] = "/images/unknown.jpg";
                                        }
                                    }
                                    if(k === "certificated"){
                                        var isCertificated = result[i][k];
                                        if(isCertificated === null || isCertificated === 0){
                                            isCertificated = "未认证";
                                        }else{
                                            isCertificated = "已认证";
                                        }
                                    }
                                }                              
                            }

                            console.log(result);


                            //console.log(result[0].photo);
                            app.users = result;
                        },
                        error : function(e){

                        }
                    });
                }
                pullUsers();


                function changeCertStatus(){
                    $.each($("li.eachUser"), function(i, v){
                        var certStatus =$.trim($(v).find("span.certStatus").text());
                        if(certStatus === "已实名认证"){
                            $(v).find("button.certReject").hide();
                            $(v).find("button.certificateUser").hide();
                        }else if(certStatus === "实名认证失败"){
                            $(v).find("button.certReject").hide();
                            $(v).find("button.certificateUser").hide();
                        }else if(certStatus === "未实名认证"){
                            $(v).find("button.certReject").hide();
                            $(v).find("button.certificateUser").hide();
                        }
                    });
                }
                setTimeout(changeCertStatus, 500)
            });
        </script>

 
    </body>
</html>
