<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>


    <!-- <script type="text/javascript" src="https://css.zhiyuanyun.com/lib/jquery.scroll.js"></script>
    <script type="text/javascript" src="https://css.zhiyuanyun.com/lib/nbspslider/jquery.nbspslider.1.1.js"></script> -->


<script>
    $(document).ready(function(){
        $("#logout").on("click", function(){
            $.ajax({
                url : "/logout",
                success : function(result) {
                    if(result.code === 1){
                        alert("退出登录成功");
                        window.location.href = window.location.href
                    }
                },
                error : function(e){
                    
                }
            });

        });
   
    });
</script>

  </head>
  <style>
      .logo{
        background-image: url("images/gaitubao_Fua7iEdpb5tGQMcHs6HqkV94pQis.png")!important;
        background-repeat:no-repeat!important;
      }
      .sShow{
          display: none;
      }
      .action{
          width:1100px;
          margin: 0 auto;
      }
  </style>
  <body>


    <div class="header">
        <div class="wrap clearfix topmenu">
            <meta name="csrf-token" content="75194b40ade6ee490c32bb186cb33a55d96fa3fbf9369195979ec84416d2926f">
            

            <span class="l" id='checkL'> 
                <a href="/login"  style="color:red">请登录</a>&nbsp;&nbsp;
                <a href="/register">志愿者注册</a>
            </span>
            <span><span style='color:red' id="logout">退出</span><a href="/userInfo"><span id="userSpan" style='color:red'><%= user %></span></a> </span>
    
    <span class="r topmenu_r">
       
                <div class="topmenu_txt">
            
        </div>
                
     </span></div>
    </div>
    

    
    <div class="header_logo">
        <div class="wrap clearfix">
            <div class="l logo">
                
            </div>  
     
            <div class="r" style="width:550px;">   
                <div class="l tsearch clearfix" style="width:350px;">
                    <div class="l" style="width:76px;height:44px;line-height:44px;text-align:center;">
                                <div id="tsearch_select">
                                    <div id="select">新闻文章</div><input type="hidden" id="stype" value="3">                                <div id="tsearch_select_div">
                                        <a href="javascript:void(0);" onclick="$('#tsearch_select>#select').html($(this).html());$('#stype').val(1);chpos(this);">志愿项目</a>
                                        <a href="javascript:void(0);" onclick="$('#tsearch_select>#select').html($(this).html());$('#stype').val(2);chpos(this);">志愿团体</a>
                                        <a href="javascript:void(0);" onclick="$('#tsearch_select>#select').html($(this).html());$('#stype').val(3);chpos(this);">新闻文章</a>
                                    </div>
                                </div>  
                    </div>
                    <div class="l">
                        &nbsp;&nbsp;&nbsp;<input style="width:140px;" type="text" class="sq" id="sq" value="">
                    </div>
                    <div class="r">
                        <a href="javascript:void(0);" onclick="top_search();" style="display:block;width:100px;height:44px;display: block; width: 100px; height: 44px; background:#4082d8; color:#fff; font-size: 18px; line-height: 44px; text-align: center;">搜索</a>
                    </div>
                    
                </div>
                
                <div class="r">
                    <a href="/" style="display:block;width:100px;height:100px;"></a>
                </div>
            </div> 
        </div>
    </div>
    <div class="nav">
        <div class="wrap" style="color:#fff;">
            <a href="/initProject" style="width:73px;" class="sel" id='initProject'>发起项目</a>
            <a href="/initDonate" style="width:73px;" class="sel" id='initProject'>发起募捐</a>
        </div>
    </div>

    <div class='action' id='app'>

        <ul class="list1 clearfix ptitle2">

            <!-- <li class="clearfix"> 
                <div class="listimg listimg_opp">
                    <div style="background:#BEBEBE;color:#fff;;">
                    2020-03-18
                    </div> 
                    <a href="/app/opp/view.php?id=9prMaOIm=znOD" title="疫情防控知识宣传" target="_blank" style="display:inline-block;width:210px;height:210px;background:none;"></a> 
                </div> 
                <div class="listtxt"> 
                    <p class="ptitle"><a href="/app/opp/view.php?id=GlUNDuzVbwgFk" title="疫情防控知识宣传" target="_blank">疫情防控知识宣传</a></p> 
                    <p class="popp clearfix"> <span class="r opp_time_state" style="background:green">招募中</span></p> 
                </div> 
                <div class="percent1">
                    <div class="percent2" style="width:187px;"></div>
                </div> 
            </li> -->


            <li class="clearfix" v-for='project in projects'> 
                <div class="listimg listimg_opp">
                    <div style="background:#BEBEBE;color:#fff;;">
                        {{project.date}}
                    </div> 
                    <span style="display:inline-block;width:210px;height:210px;background:none;"> {{project.pj_name}}</span>
                </div> 
                <div class="listtxt" id='wp'> 
                    <p class="ptitle"><span id='pjName'> {{project.pj_name}}</span></p> 
                    <p class="popp clearfix"><span>计划招募人数</span><span>{{project.pj_person}}</span></p>
                    <p class="popp clearfix"><span>已招募人数</span><span>{{project.personInUse}}</span></p>
                    <p class="popp clearfix"> <span class="r opp_time_state" style="background:blue;cursor: pointer;" id='joinProject' v-on:click='joinPj($event)'>加入</span></p> 
                </div> 
                <div class="percent1">
                    <div class="percent2" style="width:187px;"></div>
                </div> 
            </li>

        </ul>
    </div>

    <script>

    var app = new Vue({
        el:"#app",
        data:{
            projects:null
        },
        methods:{
            joinPj:function(e){
                var pjName = $(e.target).parents("div#wp").find("span#pjName").text();
                pjName = $.trim(pjName);
                var data = {
                    pjName:pjName
                };
                $.ajax({
                    type:"POST",
                    url : "/U_joinProjects",
                    data:data,
                    success : function(result) {
                        if(result.code === 1){
                            alert("加入活动成功");
                            window.location.href = window.location.href;
                        }else if(result.code === 2){
                            alert("招募人数已满,无法加入");
                        }
                    },
                    error : function(e){

                    }
                });

            }
        }
    });
    </script>

    <script>
        $(document).ready(function () {
            function checkLogin(){
                if(!($("#userSpan").text().length <=0) ){
                    $("#checkL").hide();
                }
            }
            checkLogin();

            function getProjects(){
                $.ajax({
                    url : "/getProjects",
                    success : function(result) {
                        if(result && result.length > 0){
                            console.log(JSON.stringify(result));
                            app.projects = result;
                        }
                    },
                    error : function(e){

                    }
                });
            }

            getProjects();



       
        })
    </script>

    
    </body>
</html>
