<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="stylesheets/stylen.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="stylesheets/typography.css" type="text/css" media="screen"/>

<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/vue.js"></script>
<script type="text/javascript" src="javascripts/rotator.js"></script>
<script type="text/javascript" src="javascripts/tweet.js"></script>

<script>
    $(document).ready(function(){
        $("#logout").on("click", function(){
            $.ajax({
                url : "/logout",
                cache:false,
                success : function(result) {
                    console.log(result);
                    if(result.code === 1){
                        alert("退出登录成功");
                        window.location.href = "/";
                        
                    }
                },
                error : function(e){
                    
                }
            });

        });
   
    });
</script>
<title>织光公益</title>
  </head>
  <style>
      .logo{
        background-image: url("images/gaitubao_Fua7iEdpb5tGQMcHs6HqkV94pQis.png")!important;
        background-repeat:no-repeat!important;
      }
      .sShow{
          display: none;
      }
      .action{
          width:930px;
          margin: 0 auto;
      }
  </style>
  <body>

<div class="header">
    <div class="wrap clearfix topmenu">
    <span class="l" id='checkL'> 
    <a href="/login"  style="color:#CC3333;font-weight: bolder;" id='lg'>登录</a>&nbsp;
    <a href="/register" style="color:gray;font-weight: bolder;">志愿者注册</a>
    </span>
    <span><a href='#' style='color:#CC3333;font-weight: bolder;' id="logout">退出</a><a href="/userInfo"><span id="userSpan" style='color:red'><%= user %></span></a> </span>
    <span class="r topmenu_r">
    <div class="topmenu_txt">
    </div>
    </span>
    </div>
</div>



<div id="wrapper">

	<div id="header">
	
		<div id="header_wrap">
			<div id="logo">
			</div>
			<ul id="navlist">
				<li id="active"><a href="/" id="current">首页</a></li>
				<li><a href="/initProject" id='initProject'>发起项目</a></li>
                <li><a href="/initDonate">发起募捐</a></li>
                <li><a href="/Donate">募捐详情</a></li>
			</ul>
		</div>
		
	</div>


	<div class="slideshow">
		<div id="align">
			<ul class="buttons">
				<li class="active" id="button1"><a href="#" title="#"></a></li>
				<li id="button2"><a href="#" title="#"></a></li>
				<li id="button3"><a href="#" title="#"></a></li>
			</ul>
		</div>

		<ul class="slides">
			<li style="visibility:visible" class="slide" id="image1">
		
			<div class="ad_1">
				<div class="ad_1_left">
					<img src="/images/ad_text.png" alt="#" class="ad_img"/>
					让血液把咱们的心连接在一齐。
				</div>
				<div class="ad_1_right">
					<img src="/images/ad_price.png" alt="#"/>
				</div>
			</div>
			</li>
		
			<li class="slide" id="image2">
			<div class="ad_1">
				<div class="ad_1_left">
					<img src="/images/ad_text.png" alt="#" class="ad_img"/>
					良言一句，三冬亦暖，恶语伤人，六月犹寒
				</div>
				<div class="ad_1_right">
					<img src="/images/ad_price.png" alt="#"/>
				</div>
			</div>
			</li>
		
			<li class="slide" id="image3">
			<div class="ad_1">
				<div class="ad_1_left">
					<img src="/images/ad_text.png" alt="#" class="ad_img"/>
					时代在变，时刻在变，不变的是咱们的关怀
				</div>
				<div class="ad_1_right">
					<img src="/images/ad_price.png" alt="#"/>
				</div>
			</div>
			</li>
		</ul>
	</div>
    

	<div id="plans">
        
        <div class='action' id='app'>

            <ul class="list1 clearfix ptitle2">
    
                <li class="clearfix" v-for='project in projects'> 
                    <div class="listimg listimg_opp">
                        <div style="background:#BEBEBE;color:#fff;;">
                            {{project.date}}
                        </div> 
                        <span style="display:inline-block;width:210px;height:210px;background:none;"> {{project.pj_name}}</span>
                    </div> 
                    <div class="listtxt" id='wp'> 
                        <p class="ptitle"><span id='pjName'> {{project.pj_name}}</span></p> 
                        <p class="popp clearfix"><span>计划招募人数</span><span>{{project.pj_person}}</span></p>
                        <p class="popp clearfix"><span>已招募人数</span><span>{{project.personInUse}}</span></p>
                        <p class="popp clearfix"> <span class="r opp_time_state" style="background:#CC3333;cursor: pointer;font-weight: bolder;" id='joinProject' v-on:click='joinPj($event)'>加入</span></p> 
                    </div> 
                    <div class="percent1">
                        <div class="percent2" style="width:187px;"></div>
                    </div> 
                </li>
    
            </ul>
        </div>



	</div>


	

</div>

<div id="footer">

	<div id="footer_wrap">
	
        <div id="footer_left">
            <div id="footer_col">
                <h3></h3>
                <ul>
                    <li><a href="#">公益时报</a></li>
                    <li><a href="#">环球公益</a></li>
                    <li><a href="#">新华公益</a></li>
                    <li><a href="#">光明公益</a></li>
                    <li><a href="#">中青公益</a></li>
                </ul>
            </div>
            <div id="footer_col_2">
                <h3> </h3>
                <ul>
                    <li><a href="#">人民公益</a></li>
                    <li><a href="#">搜狐公益</a></li>
                    <li><a href="#">新浪公益</a></li>
                    <li><a href="#">凤凰公益</a></li>
                    <li><a href="#">网易公益</a></li>
                    <li><a href="#">央视公益</a></li>
                </ul>
            </div>
            <div id="footer_col_3">
                <h3></h3>
                <ul>
                    <li><a href="#">上海公益网</a></li>
                    <li><a href="#">北京公益网</a></li>
                    <li><a href="#">深圳公益网</a></li>
                    <li><a href="#">太远公益网</a></li>
                    <li><a href="#">扬州公益网</a></li>
                </ul>
            </div>
        </div>

		<div id="footer_right">
			<div id="footer_logo">
			</div>
			<div class="clear">
			</div>
			<ul>
				<li></a></li>
				<li></li>
				<li><a href="#"></a></li>
			</ul>
			<div class="clear">
			</div>
		</div>
	
	</div>

</div>


    <script>
    var app = new Vue({
        el:"#app",
        data:{
            projects:null
        },
        methods:{
            joinPj:function(e){
                var pjName = $(e.target).parents("div#wp").find("span#pjName").text();
                pjName = $.trim(pjName);
                var data = {
                    pjName:pjName
                };
                $.ajax({
                    type:"POST",
                    url : "/U_joinProjects",
                    data:data,
                    success : function(result) {
                        if(result.code === 1){
                            alert("加入活动成功");
                            window.location.href = window.location.href;
                        }else if(result.code === 2){
                            alert("招募人数已满,无法加入");
                        }
                    },
                    error : function(e){

                    }
                });

            }
        }
    });
    </script>

    <script>
        $(document).ready(function () {
            function checkLogin(){
                if(!($("#userSpan").text().length <=0) ){
                    $("#checkL").hide();
                }
                if(!$("#lg").is(":hidden")){
                   $("#logout").hide(); 
                } else{
                   $("#logout").show(); 
                }
            
            }
            checkLogin();

            function getProjects(){
                $.ajax({
                    url : "/getProjects",
                    success : function(result) {
                        if(result && result.length > 0){
                            console.log(JSON.stringify(result));
                            app.projects = result;
                        }
                    },
                    error : function(e){

                    }
                });
            }

            getProjects();



       
        })
    </script>

    
    </body>
</html>
