<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="stylesheets/stylen.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="stylesheets/typography.css" type="text/css" media="screen"/>

<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/vue.js"></script>
<script type="text/javascript" src="javascripts/rotator.js"></script>
<script type="text/javascript" src="javascripts/tweet.js"></script>

<script>
    $(document).ready(function(){
        $("#logout").on("click", function(){
            $.ajax({
                url : "/logout",
                cache:false,
                success : function(result) {
                    console.log(result);
                    if(result.code === 1){
                        alert("退出登录成功");
                        window.location.href = "/";
                        
                    }
                },
                error : function(e){
                    
                }
            });

        });
   
    });
</script>
<title>织光公益</title>
  </head>
  <style>
      .logo{
        background-image: url("images/gaitubao_Fua7iEdpb5tGQMcHs6HqkV94pQis.png")!important;
        background-repeat:no-repeat!important;
      }
      .sShow{
          display: none;
      }
      .action{
          width:930px;
          margin: 0 auto;
      }
      .zg{
          font-weight: bolder;
          color:#fff;
          font-size: 40px;
          position:absolute;
          top:55px;
      }
      #plans{
   
          position: relative;
      }
      .funcList{
          position: absolute; 
          left:30px;
          top:10px;

          
      }


      /*隐藏checked复选框*/
      #sidemenu{
                display: none;
            }

            #sidemenu:checked + aside {
                /*为被选中的sidemenu后的aside设置属性（紧邻）*/
                left: 0;
                /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
            }

            #sidemenu:checked ~ #wrap {
                /*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
                padding-left: 220px;
            }

            aside {
                /*侧边栏,初始位置为-200px，即隐藏效果*/
                position: absolute;
                top: 0;
                bottom: 0;
                left: -200px;
                width: 200px;
                /* background: black; */
                transition: 0.2s ease-out;
                /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
            }

            h2 {
                color: white;
                text-align: center;
                font-size: 2em;
            }

            /*控制侧边栏进出的按钮（外部包裹）*/
            #wrap {
                margin-left: 20px;
                padding: 10px;
                transition: 0.2s ease-out;
            }

            /*控制侧边栏进出的按钮（内部文字样式）*/
            label {
                /*控制侧边栏进出的按钮*/
                background:rgb(204, 51, 51);
                border-radius: 70px;
                color: #000;
                font-weight: bolder;
                cursor: pointer;
                display: block;
                font-family: Courier New;
                font-size: 2em;
                width: 1.5em;
                height: 1.5em;
                line-height: 1.5em;
                text-align: center;
                display: inline-block;
            }

            label:hover {
                background: #fff;
            }

            #sideul li {
                list-style: none;
                color: white;
                width: 100%;
                height: 1.8em;
                font-size: 1.5em;
                text-align: center;
            }
            #sideul li a{
                font-size: 16px;
                color:rgb(204, 51, 51);
                font-weight: bolder;
            }

            a {
                text-decoration: none;
            }

            #sideul li:hover {
                color: orange;
            }
  </style>
  <body>

<div class="header">
    <div class="wrap clearfix topmenu">
    <span class="l" id='checkL'> 
    <a href="/login"  style="color:#CC3333;font-weight: bolder;" id='lg'>登录</a>&nbsp;
    <a href="/register" style="color:gray;font-weight: bolder;">志愿者注册</a>
    </span>
    <span><a href='#' style='color:#CC3333;font-weight: bolder;' id="logout">退出</a><a href="/userInfo"><span id="userSpan" style='color:red'><%= user %></span></a> </span>
    <span class="r topmenu_r">
    <div class="topmenu_txt">
    </div>
    </span>
    </div>
</div>


<div id="wrapper">
	<div id="header">
	
		<div id="header_wrap">
			<!-- <div id="logo">
            </div> -->
            <div class='zg'>
                织光公益
            </div>
			<ul id="navlist">
				<li id="active"><a href="/" id="current">首页</a></li>
				<li><a href="/initProject" id='initProject'>发起项目</a></li>
                <li><a href="/initDonate">发起募捐</a></li>
                <li><a href="/Donate">募捐详情</a></li>
                <li><a href="/finp">发起寻人启事</a></li>
                <li><a href="/news">公益新闻</a></li>
			</ul>
		</div>
		
	</div>


	<div class="slideshow">
		<div id="align">
			<ul class="buttons">
				<li class="active" id="button1"><a href="#" title="#"></a></li>
				<li id="button2"><a href="#" title="#"></a></li>
				<li id="button3"><a href="#" title="#"></a></li>
			</ul>
		</div>

		<ul class="slides">
			<li style="visibility:visible" class="slide" id="image1">
		
			<div class="ad_1">
				<div class="ad_1_left">
					<img src="/images/ad_text.png" alt="#" class="ad_img"/>
					让血液把咱们的心连接在一齐。
				</div>
				<div class="ad_1_right">
					<img src="/images/ad_price.png" alt="#"/>
				</div>
			</div>
			</li>
		
			<li class="slide" id="image2">
			<div class="ad_1">
				<div class="ad_1_left">
					<img src="/images/ad_text2.png" alt="#" class="ad_img"/>
					良言一句，三冬亦暖，恶语伤人，六月犹寒
				</div>
				<div class="ad_1_right">
					<img src="/images/ad_price.png" alt="#"/>
				</div>
			</div>
			</li>
		
			<li class="slide" id="image3">
			<div class="ad_1">
				<div class="ad_1_left">
					<img src="/images/ad_text3.png" alt="#" class="ad_img"/>
					时代在变，时刻在变，不变的是咱们的关怀
				</div>
				<div class="ad_1_right">
					<img src="/images/ad_price.png" alt="#"/>
				</div>
			</div>
			</li>
		</ul>
	</div>
    

	<div id="plans">
        <div class='funcList'>
            <!-- <ul> -->
                <!-- <li><a href='/checkPl?id=1'>查看寻人启事</a></li>
                <li><a href='/checkPl?id=3'>举报不实筹款</a></li>
                <li><a href='/checkPl?id=4'>举报不实志愿者活动</a></li> -->
                <!-- <li><a href='/checkPl?id=5'>快速查找志愿者活动</a></li> -->
            <!-- </ul> -->

            <input type='checkbox' id='sidemenu'>
            <aside>
                <ul id="sideul">
                    <li><a href='/checkPl?id=1'>查看寻人启事</a></li>
                    <li><a href='/checkPl?id=3'>举报不实筹款</a></li>
                    <li><a href='/checkPl?id=4'>举报不实志愿者活动</a></li>
                </ul>
            </aside>
            <div id='wrap'>
                <label id='sideMenuControl' for='sidemenu'>≡</label>
                <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->
            </div>


        </div>
        
        <div class='action' id='app'>

            <ul class="list1 clearfix ptitle2">
    
                <li class="clearfix" v-for='project in projects'> 
                    <div class="listimg listimg_opp">
                        <div style="background:#BEBEBE;color:#fff;;">
                            {{project.date}}
                        </div> 
                        <span style="display:inline-block;width:210px;height:210px;background:none;"> {{project.pj_name}}</span>
                    </div> 
                    <div class="listtxt" id='wp'> 
                        <p class="ptitle"><span id='pjName'> {{project.pj_name}}</span></p> 
                        <p class="popp clearfix"><span>计划招募人数</span><span>{{project.pj_person}}</span></p>
                        <p class="popp clearfix"><span>已招募人数</span><span>{{project.personInUse}}</span></p>
                        <p class="popp clearfix"> <span class="r opp_time_state" style="background:#CC3333;cursor: pointer;font-weight: bolder;" id='joinProject' v-on:click='joinPj($event)'>加入</span></p> 
                    </div> 
                    <div class="percent1">
                        <div class="percent2" style="width:187px;"></div>
                    </div> 
                </li>
    
            </ul>
        </div>



	</div>


	

</div>




    <script>
    var app = new Vue({
        el:"#app",
        data:{
            projects:null
        },
        methods:{
            joinPj:function(e){
                if(!$("#lg").is(":hidden")){
                    window.location.href = "/login";
                    return false;
                }
                var pjName = $(e.target).parents("div#wp").find("span#pjName").text();
                pjName = $.trim(pjName);
                var data = {
                    pjName:pjName
                };
                $.ajax({
                    type:"POST",
                    url : "/U_joinProjects",
                    data:data,
                    success : function(result) {
                        if(result.code === 1){
                            alert("加入活动成功");
                            window.location.href = window.location.href;
                        }else if(result.code === 2){
                            alert("招募人数已满,无法加入");
                        }
                    },
                    error : function(e){

                    }
                });

            }
        }
    });
    </script>

    <script>
        $(document).ready(function () {
            function checkLogin(){
          
                if(!($("#userSpan").text().length <=0) ){
                    $("#checkL").hide();
                }
                if(!$("#lg").is(":hidden")){
                   $("#logout").hide(); 
                } else{
                   $("#logout").show(); 
                }
            
            }
            checkLogin();

            function getProjects(){
                $.ajax({
                    url : "/getProjects",
                    success : function(result) {
                        if(result && result.length > 0){
                            console.log(JSON.stringify(result));
                            app.projects = result;
                        }
                    },
                    error : function(e){

                    }
                });
            }

            getProjects();



       
        })
    </script>

<%- include ../partials/footer.ejs %>
    </body>
</html>
