<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/stylen.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/typography.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/rotator.js"></script>
    <script type="text/javascript" src="javascripts/tweet.js"></script>
    
    <title>织光公益</title>
    <style>
      .contents{
          padding:20px;
      }
      .f2{
          margin-top:15px;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
        <%- include ../partials/header.ejs %>
        <div class="contents">
            <div class="f1"><label class='font1'>募捐项目名称</label><input style='margin-left:15px;'class='commonInput' type='text' id='pj_name' /></div>
            <div class="f2"></div><label class='font1'>募捐总额</label><input style='margin-left:50px;' class='commonInput' type='text' id='per_number' /><br /></div>
            <button id='initDon' class='commonButton' style='margin-left:20px;'>发起募捐</button>
        </div>
    </div>
    <%- include ../partials/footer.ejs %>

    <script>
        $(document).ready(function () {
            $("#initDon").on("click", function(){
                var name = $("#pj_name").val();
                var expectedAmount = $("#per_number").val();
                var data = {
                    name:name,
                    expectedAmount:expectedAmount
                };
                $.ajax({
                    type : "POST",
                    url : "/startDonation",
                    data:data,
                    success : function(result) {
                        if(result.code === 1){
                            alert("募捐发起成功");
                            window.location.href = "/";
                        }
                    },
                    error : function(e){

                    }
                });

            });

        });
    </script>

  </body>