<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/stylen.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/typography.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/rotator.js"></script>
    <script type="text/javascript" src="javascripts/tweet.js"></script>
  </head>
  <style>
      .contents{
          padding:20px;
      }
      .f2{
          margin-top:15px;
      }
  </style>
<body>


    <div id="wrapper">


        <div id="header">
            <div id="header_wrap">
                <div id="logo">
                </div>
                <ul id="navlist">
                    <li id="active"><a href="/" id="current">首页</a></li>
                    <li><a href="/initProject" id='initProject'>发起项目</a></li>
                    <li><a href="/initDonate">募捐</a></li>
                    <li><a href="/assistChildren">救助儿童</a></li>
                    <li><a href="/finp">寻人启事</a></li>
                    <li><a href="/publish">发布</a></li>
                    <!-- <li><a href="/Donate">募捐详情</a></li> -->
                    <li><a href="/news">公益新闻</a></li>
                </ul>
            </div>
        </div>
    
    
        
        
        <div class="contents">
            <div class="f1"><label class='font1'>项目名称</label><input style='margin-left:40px;'class='commonInput' type='text' id='pj_name' /></div>
            <div class="f2"></div><label class='font1'>项目招募人数</label><input style='margin-left:5px;' class='commonInput' type='text' id='per_number' /><br /></div>
            <button id='initProject' class='commonButton' style='margin-left:20px;'>发起项目</button>
        </div>



    </div>

    <div id="footer">

        <div id="footer_wrap">
        
            <div id="footer_left">
                <div id="footer_col">
                    <h3></h3>
                    <ul>
                        <li><a href="#">公益时报</a></li>
                        <li><a href="#">环球公益</a></li>
                        <li><a href="#">新华公益</a></li>
                        <li><a href="#">光明公益</a></li>
                        <li><a href="#">中青公益</a></li>
                    </ul>
                </div>
                <div id="footer_col_2">
                    <h3> </h3>
                    <ul>
                        <li><a href="#">人民公益</a></li>
                        <li><a href="#">搜狐公益</a></li>
                        <li><a href="#">新浪公益</a></li>
                        <li><a href="#">凤凰公益</a></li>
                        <li><a href="#">网易公益</a></li>
                        <li><a href="#">央视公益</a></li>
                    </ul>
                </div>
                <div id="footer_col_3">
                    <h3></h3>
                    <ul>
                        <li><a href="#">上海公益网</a></li>
                        <li><a href="#">北京公益网</a></li>
                        <li><a href="#">深圳公益网</a></li>
                        <li><a href="#">太远公益网</a></li>
                        <li><a href="#">扬州公益网</a></li>
                    </ul>
                </div>
            </div>
    
            <div id="footer_right">
                <div id="footer_logo">
                </div>
                <div class="clear">
                </div>
                <ul>
                    <li></a></li>
                    <li></li>
                    <li><a href="#"></a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
        
        </div>
    
    </div>
<script>        
$(document).ready(function () {
    $("#initProject").on("click", function(){
        var data = {
            pj_name:"",
            per_number:0
        };
        var pj_name = $("#pj_name").val();
        var per_number = $("#per_number").val();
        data.pj_name = pj_name;
        data.per_number = per_number;
    
        $.ajax({
            type : "POST",
            url : "/startProject",
            data:data,
            success : function(result) {
                if(result.code === 1){
                    alert("项目发起成功");
                    window.location.href = "/";
                }
            },
            error : function(e){

            }
        });


    });


})
</script>
</body>
</html>