<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="stylesheets/style1.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/stylen.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/typography.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="stylesheets/common.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/rotator.js"></script>
    <script type="text/javascript" src="javascripts/tweet.js"></script>
    
    <title>织光公益</title>
 
    <style>
        .contents{
            padding:20px;
           
        }
        .contents *{
            font-size: 20px!important;
        }
        .missingMsg{
            white-space: normal!important;
            overflow:visible!important;
            text-overflow:initial!important;
        }
        .reportMissing{
            margin-top:80px;
        }
        .newsH{
            font-size:18px;
            font-weight: bolder;
            margin-bottom:10px;;
        }
        .newsB{
            font-size:16px!important;
            line-height: 26px;;
           
        }
    </style>
  </head>

  <body>
    <div id="wrapper">
        <%- include ../partials/header.ejs %>
        <div class="contents">
            <div class='newsH'><%= news.newsHeader%></div>
            <div class='newsB'><%= news.news%></div>
        
        </div>
    </div>
    <%- include ../partials/footer.ejs %>

    <script>
        $(document).ready(function () {
     
    
        });
    </script>

  </body>