<div id="footer">

    <div id="footer_wrap">
    
        <div id="footer_left">
            <div id="footer_col">
                <h3></h3>
                <ul>
                    <li><a href="#">公益时报</a></li>
                    <li><a href="#">环球公益</a></li>
                    <li><a href="#">新华公益</a></li>
                    <li><a href="#">光明公益</a></li>
                    <li><a href="#">中青公益</a></li>
                </ul>
            </div>
            <div id="footer_col_2">
                <h3> </h3>
                <ul>
                    <li><a href="#">人民公益</a></li>
                    <li><a href="#">搜狐公益</a></li>
                    <li><a href="#">新浪公益</a></li>
                    <li><a href="#">凤凰公益</a></li>
                    <li><a href="#">网易公益</a></li>
                    <li><a href="#">央视公益</a></li>
                </ul>
            </div>
            <div id="footer_col_3">
                <h3></h3>
                <ul>
                    <li><a href="#">上海公益网</a></li>
                    <li><a href="#">北京公益网</a></li>
                    <li><a href="#">深圳公益网</a></li>
                    <li><a href="#">太远公益网</a></li>
                    <li><a href="#">扬州公益网</a></li>
                </ul>
            </div>
        </div>

        <div id="footer_right">
            <div id="footer_logo">
            </div>
            <div class="clear">
            </div>
            <ul>
                <li><a></a></li>
                <li></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="clear">
            </div>
        </div>
    
    </div>

</div>