<div id="wrapper">

    <div id="header">
        <div id="header_wrap">
            <div id="logo">
            </div>
            <ul id="navlist">
                <li id="active"><a href="/" id="current">首页</a></li>
                <li><a href="/initProject" id='initProject'>发起项目</a></li>
                <li><a href="/initDonate">发起募捐</a></li>
                <li><a href="/Donate">募捐详情</a></li>
            </ul>
        </div>
    </div>

</div>